<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>19/09/04 12:28:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentDemo.startTest()[pri:0, instance:APIFrameworkGsonController.ExtentDemo@57baeedf]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/09/04 12:28:11</td>   <td>199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentDemo.extentReportsDemo()[pri:0, instance:APIFrameworkGsonController.ExtentDemo@57baeedf]">extentReportsDemo</td> 
  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>19/09/04 12:28:22</td>   <td>11239</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentDemo.endTest()[pri:0, instance:APIFrameworkGsonController.ExtentDemo@57baeedf]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
</table>
